.navbar {
    padding: .7em;

    font: {
        size: 20px;
        weight: bold;
    }

    color: rgb(230, 255, 241);
    background-color: mediumseagreen;
}

.whole-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.main-game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(163, 250, 202);
}

.main-game {
    margin: 1em 1em 6em 1em;
    padding: .5em;

    animation: fadeIn 1.5s forwards 1;
}

.main-game-result {
    min-height: 1.5em;
    margin: .3em;

    text-align: center;

    font-size: 28px;
    font-weight: bold;
}

.main-game-turn {
    margin: .3em;

    text-align: center;
    font-size: 20px;
}

.main-game-board {
    padding: .5em;

    background-color: rgb(96, 238, 160);
}

.board-box-wrapper {
    position: relative;

    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    background-color: rgb(14, 117, 62);
}

.board-box {
    width: 35px;
    height: 35px;

    position: relative;

    margin: 5px;
    padding: 20px;

    font-size: 32px;
    line-height: 0;

    cursor: pointer;
    user-select: none;

    background-color: rgb(96, 238, 160);

    &:hover {
        box-shadow: 0px 0px 10px inset adjust-color($color: rgb(36, 243, 129), $saturation: 50%, $lightness: 0%);

        background-color: adjust-color($color: rgb(96, 238, 160), $saturation: 50%, $lightness: 15%);
    }
}

.board-box-index {
    position: absolute;

    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);

    font-size: 12px;

    color: rgb(103, 133, 115);
}

.board-reset {
    position: absolute;

    padding: .5em;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 5px;

    cursor: pointer;

    font-size: 28px;
    font-weight: bold;

    background-color: mediumseagreen;

    z-index: 2;

    &:hover {
        color: rgb(230, 255, 241);
    }
}