<div class='whole-wrapper'>
    <div></div>
    <div class='main-game-wrapper'>
        <main class="main-game">
            <div class="shortcuts-wrapper-grid">
                <div class="group-divider">
                    <h3>Board navigation by letters:</h3>
                    <div class="shortcuts-grouped">
                        <kbd>Q</kbd>
                        <kbd>W</kbd>
                        <kbd>E</kbd>
                        <kbd>A</kbd>
                        <kbd>S</kbd>
                        <kbd>D</kbd>
                        <kbd>Z</kbd>
                        <kbd>X</kbd>
                        <kbd>C</kbd>
                    </div>
                </div>
                <div class="group-divider">
                    <h3>Board navigation by numbers:</h3>
                    <div class="shortcuts-grouped">
                        <kbd>0</kbd>
                        <kbd>1</kbd>
                        <kbd>2</kbd>
                        <kbd>3</kbd>
                        <kbd>4</kbd>
                        <kbd>5</kbd>
                        <kbd>6</kbd>
                        <kbd>7</kbd>
                        <kbd>8</kbd>
                    </div>
                </div>
                <div class="group-divider">
                    <h3>Game reset:</h3>
                    <div class="shortcuts-grouped">
                        <kbd>Enter<b title="Only available when the game has ended">(?)</b></kbd>
                        <kbd>Escape</kbd>
                        <kbd>R</kbd>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div></div>
</div>
