<div class='whole-wrapper'>
    <div></div>
    <div class='main-game-wrapper'>
        <main class="main-game">
            <div class="shortcuts-wrapper-grid">
                <div class="group-divider">
                    <h3>Board navigation by letters:</h3>
                    <div class="shortcuts-grouped">
                        <ng-container *ngFor="let letter of capitalLetters" >
                            <kbd>{{ letter }}</kbd>
                        </ng-container>
                    </div>
                </div>
                <div class="group-divider">
                    <h3>Board navigation by numbers:</h3>
                    <div class="shortcuts-grouped">
                        <ng-container *ngFor="let index of indexes">
                            <kbd>{{ index }}</kbd>
                        </ng-container>
                    </div>
                </div>
                <div class="group-divider">
                    <h3>Game reset:</h3>
                    <div class="shortcuts-grouped">
                        <kbd>Enter<b title="Only available when the game has ended">(?)</b></kbd>
                        <kbd>Escape</kbd>
                        <kbd>R</kbd>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div></div>
</div>